.successful-screen {
  z-index: 1000;
  position: relative;
  overflow: hidden;
  background-color: #040415;
  padding-bottom: 63px;
  padding-top: 54px;
}

// Картинка man

.successful-screen__decoration {
  position: absolute;
  left: 307px;
  top: -72px;
  width: 1141px;
  height: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.successful-screen__decoration-light {
  position: absolute;
  width: 1141px;
  top: -15px;
  right: -30px;
  animation: 5s linear 0s normal none infinite running light;
  -webkit-animation: 5s linear 0s normal none infinite running light;
}

.successful-screen__decoration-circle {
  position: absolute;
  width: 597px;
  height: 597px;
  background-color: #8cf347;
  border-radius: 50%;
  top: 141px;
  right: 250px;
}

.successful-screen__decoration-money {
  position: absolute;
  width: 698px;
  top: 75px;
  right: 206px;
  animation: 5s linear 0s normal none infinite running money;
  -webkit-animation: 5s linear 0s normal none infinite running money;
}

.successful-screen__decoration-balloons {
  position: absolute;
  top: 57px;
  right: 70px;
  width: 517px;
}

.successful-screen__decoration-gift {
  position: absolute;
  width: 626px;
  top: 123px;
  right: 199px;
  animation: 5s linear 0s normal none infinite running gift;
  -webkit-animation: 5s linear 0s normal none infinite running gift;
}

.successful-screen__decoration-wheel {
  position: absolute;
  width: 230px;
  top: 244px;
  right: 642px;
  animation: 50s linear 0s normal none infinite running rot;
  -webkit-animation: 50s linear 0s normal none infinite running rot;
}

.successful-screen__decoration-man {
  position: absolute;
  right: 343px;
  width: 473px;
}

// Контент

.successful-screen__title {
  height: 120px;
  color: $accent;
  font-family: $titles_font_span;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  line-height: 65px;
  text-align: left;
}

// Иконка с замком
.successful-screen__text-lock {
  position: relative;
  top: -21px;
  left: -50px;
  display: flex;
  align-items: center;
}

.successful-screen__text-iconlock {
  position: relative;
  width: 201px;
  height: 199px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.successful-screen__text-iconlock--light {
  position: absolute;
  width: 201px;
  animation: 5s linear 0s normal none infinite running lightred;
  -webkit-animation: 5s linear 0s normal none infinite running lightred;
}

.successful-screen__text-iconlock--balloons {
  position: absolute;
  width: 94px;
  bottom: 72px;
}

.successful-screen__text-iconlock--circle {
  position: absolute;
  width: 140px;
}

.successful-screen__text-iconlock--lock {
  position: absolute;
  width: 39px;
}

////////////

.successful-screen__text-lock {
  width: 575px;
  p {
    position: relative;
    left: -11px;
    top: -6px;
    height: 63px;
    font-size: 25px;
    color: $textcolor;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
  }
}

.successful-screen__text-bonus {
  margin-top: -51px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: left;
  span {
    color: $textspan;
    font-weight: 700;
    font-family: $bold;
  }
}

.successful-screen__text-necessary {
  margin-top: -24px;
  position: relative;
  top: 23px;
  left: -20px;
  display: flex;
  align-items: center;

  img {
    width: 140px;
  }
  p {
    position: absolute;
    left: 160px;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    text-align: left;
  }
  a {
    color: #9af158;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    border-bottom: 1px solid #9af158;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  span {
    width: 108px;
    height: 29px;
    border-radius: 10px;
    background-color: #fcdc0d;
    color: #111;
    font-family: $bold;
  }
}

// Кнопка активировать
.form-btn {
  position: relative;
  margin-bottom: 23px;
  margin-top: 38px;
  &:hover {
    .form-btn--decore {
      box-shadow: none;
    }
  }
}

.form-btn--decore {
  position: absolute;
  bottom: -8px;
  width: 400px;
  height: 90px;
  border-radius: 25px;
  background-color: #479215;
  box-shadow: 0 5px 40px rgba(150, 255, 80, 0.4),
    inset 0 0 20px rgba(255, 255, 255, 0.35);
  transition: all 0.2s;
}

.successful-screen__text-info {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  text-align: left;
  margin-bottom: 77px;
}

.privacy-polyci {
  color: #c2c2db;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-family: $default_font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  position: relative;
  z-index: 2;
}

// adpt

@media (max-width: 1460px) {
  .successful-screen__decoration-light {
    position: absolute;
    width: 1000px;
    top: 83px;
    right: 58px;
  }

  .successful-screen__decoration-circle {
    position: absolute;
    width: 520px;
    height: 520px;
    top: 210px;
    right: 291px;
  }

  .successful-screen__decoration-money {
    position: absolute;
    width: 630px;
    top: 75px;
    right: 230px;
  }

  .successful-screen__decoration-balloons {
    position: absolute;
    top: 56px;
    right: 190px;
    width: 440px;
  }

  .successful-screen__decoration-gift {
    position: absolute;
    width: 560px;
    top: 123px;
    right: 212px;
  }

  .successful-screen__decoration-wheel {
    position: absolute;
    width: 210px;
    top: 244px;
    right: 642px;
  }

  .successful-screen__decoration-man {
    position: absolute;
    right: 397px;
    width: 380px;
  }
}

@media (max-width: 1330px) {
  .successful-screen__decoration-light {
    position: absolute;
    width: 900px;
    top: 101px;
    right: 180px;
  }

  .successful-screen__decoration-circle {
    position: absolute;
    width: 520px;
    height: 520px;
    top: 195px;
    right: 348px;
  }

  .successful-screen__decoration-money {
    position: absolute;
    width: 567px;
    top: 167px;
    right: 341px;
  }

  .successful-screen__decoration-balloons {
    position: absolute;
    top: 97px;
    right: 290px;
    width: 383px;
  }

  .successful-screen__decoration-gift {
    position: absolute;
    width: 477px;
    top: 216px;
    right: 361px;
  }

  .successful-screen__decoration-wheel {
    position: absolute;
    width: 199px;
    top: 299px;
    right: 704px;
  }

  .successful-screen__decoration-man {
    position: absolute;
    right: 470px;
    width: 350px;
  }
}

@media (max-width: 1230px) {
  .successful-screen__decoration-light {
    position: absolute;
    width: 700px;
    top: 208px;
    right: 322px;
  }

  .successful-screen__decoration-circle {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 278px;
    right: 460px;
  }

  .successful-screen__decoration-money {
    position: absolute;
    width: 482px;
    top: 270px;
    right: 419px;
  }

  .successful-screen__decoration-balloons {
    position: absolute;
    top: 253px;
    right: 387px;
    width: 290px;
  }

  .successful-screen__decoration-gift {
    position: absolute;
    width: 385px;
    top: 278px;
    right: 437px;
  }

  .successful-screen__decoration-wheel {
    position: absolute;
    width: 157px;
    top: 350px;
    right: 727px;
  }

  .successful-screen__decoration-man {
    position: absolute;
    right: 540px;
    width: 280px;
  }
}

@media (max-width: 1125px) {
  .successful-screen__decoration-light {
    position: absolute;
    width: 600px;
    top: 251px;
    right: 449px;
  }

  .successful-screen__decoration-circle {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 326px;
    right: 570px;
  }

  .successful-screen__decoration-money {
    position: absolute;
    width: 374px;
    top: 330px;
    right: 565px;
  }

  .successful-screen__decoration-balloons {
    position: absolute;
    top: 300px;
    right: 500px;
    width: 260px;
  }

  .successful-screen__decoration-gift {
    position: absolute;
    width: 320px;
    top: 320px;
    right: 560px;
  }

  .successful-screen__decoration-wheel {
    position: absolute;
    width: 130px;
    top: 381px;
    right: 800px;
  }

  .successful-screen__decoration-man {
    position: absolute;
    right: 640px;
    width: 240px;
  }
}

@media (max-width: 1010px) {
  .successful-screen__decoration-light {
    position: absolute;
    width: 596px;
    top: 268px;
    right: 530px;
  }

  .successful-screen__decoration-circle {
    position: absolute;
    width: 375px;
    height: 375px;
    top: 308px;
    right: 604px;
  }

  .successful-screen__decoration-money {
    position: absolute;
    width: 398px;
    top: 320px;
    right: 593px;
  }

  .successful-screen__decoration-balloons {
    position: absolute;
    top: 271px;
    right: 545px;
    width: 219px;
  }

  .successful-screen__decoration-gift {
    position: absolute;
    width: 327px;
    top: 332px;
    right: 584px;
  }

  .successful-screen__decoration-wheel {
    position: absolute;
    width: 145px;
    top: 365px;
    right: 841px;
  }

  .successful-screen__decoration-man {
    position: absolute;
    right: 658px;
    width: 280px;
  }
}

@media (max-width: 969px) {
  .successful-screen__decoration-light {
    position: absolute;
    width: 596px;
    top: 268px;
    right: 530px;
  }

  .successful-screen__decoration-circle {
    position: absolute;
    width: 430px;
    height: 430px;
    top: 244px;
    right: 596px;
  }

  .successful-screen__decoration-money {
    position: absolute;
    width: 444px;
    top: 270px;
    right: 593px;
  }

  .successful-screen__decoration-balloons {
    position: absolute;
    top: 177px;
    right: 539px;
    width: 306px;
  }

  .successful-screen__decoration-gift {
    position: absolute;
    width: 383px;
    top: 264px;
    right: 605px;
  }

  .successful-screen__decoration-wheel {
    position: absolute;
    width: 149px;
    top: 307px;
    right: 877px;
  }

  .successful-screen__decoration-man {
    position: absolute;
    right: 690px;
    width: 300px;
    top: 185px;
  }
  .successful-screen__title {
    font-size: 45px;
    line-height: 45px;
    height: 85px;
  }
  .successful-screen__text-lock {
    p {
      left: -30px;
      top: -6px;
      height: 46px;
      font-size: 20px;
    }
  }
  .successful-screen__text-bonus {
    font-size: 18px;
    line-height: 25px;
    height: 45px;
  }
  .successful-screen__text-necessary {
    margin-top: -24px;
    position: relative;
    top: 31px;
    left: -20px;
    display: flex;
    align-items: center;

    img {
      width: 140px;
    }
    p {
      left: 160px;
      font-size: 18px;
      line-height: 25px;
    }
    .form-btn {
      margin-top: 42px;
    }
  }
  .successful-screen__text-info {
    margin-bottom: 111px;
  }
  .privacy-polyci {
    justify-content: flex-start;
  }
}

@media (max-width: 960px) {
  .successful-screen__decoration-light {
    position: absolute;
    width: 582px;
    top: 203px;
    right: 575px;
  }

  .successful-screen__decoration-circle {
    position: absolute;
    width: 365px;
    height: 365px;
    top: 265px;
    right: 671px;
  }

  .successful-screen__decoration-money {
    position: absolute;
    width: 399px;
    top: 197px;
    right: 648px;
  }

  .successful-screen__decoration-balloons {
    position: absolute;
    top: 232px;
    right: 631px;
    width: 231px;
  }

  .successful-screen__decoration-gift {
    position: absolute;
    width: 334px;
    top: 260px;
    right: 664px;
  }

  .successful-screen__decoration-wheel {
    position: absolute;
    width: 158px;
    top: 321px;
    right: 912px;
  }

  .successful-screen__decoration-man {
    position: absolute;
    right: 750px;
    width: 265px;
    top: 225px;
  }
}

@media (max-width: 865px) {
  .successful-screen__decoration-light {
    position: absolute;
    width: 561px;
    top: 227px;
    right: 612px;
  }

  .successful-screen__decoration-circle {
    position: absolute;
    width: 325px;
    height: 325px;
    top: 280px;
    right: 709px;
  }

  .successful-screen__decoration-money {
    position: absolute;
    width: 349px;
    top: 291px;
    right: 704px;
  }

  .successful-screen__decoration-balloons {
    position: absolute;
    top: 256px;
    right: 689px;
    width: 172px;
  }

  .successful-screen__decoration-gift {
    position: absolute;
    width: 292px;
    top: 282px;
    right: 706px;
  }

  .successful-screen__decoration-wheel {
    position: absolute;
    width: 126px;
    top: 321px;
    right: 912px;
  }

  .successful-screen__decoration-man {
    position: absolute;
    right: 773px;
    width: 222px;
    top: 245px;
  }
}

@media (max-width: 805px) {
  .successful-screen__decoration-light {
    position: absolute;
    width: 491px;
    top: 298px;
    right: 679px;
  }

  .successful-screen__decoration-circle {
    position: absolute;
    width: 305px;
    height: 305px;
    top: 326px;
    right: 748px;
  }

  .successful-screen__decoration-money {
    position: absolute;
    width: 314px;
    top: 318px;
    right: 755px;
  }

  .successful-screen__decoration-balloons {
    position: absolute;
    top: 303px;
    right: 742px;
    width: 125px;
  }

  .successful-screen__decoration-gift {
    position: absolute;
    width: 262px;
    top: 335px;
    right: 750px;
  }

  .successful-screen__decoration-wheel {
    position: absolute;
    width: 115px;
    top: 374px;
    right: 948px;
  }

  .successful-screen__decoration-man {
    position: absolute;
    right: 812px;
    width: 213px;
    top: 290px;
  }
  .successful-screen__text-lock {
    p {
      font-size: 20px;
      line-height: 25px;
    }
  }
}

@media (max-width: 749px) {
  .successful-screen {
    padding-top: 35px;
  }
  .successful-screen__text-info {
    margin-bottom: 694px;
  }
  .privacy-polyci {
    justify-content: center;
  }
  .successful-screen__decoration-light {
    position: absolute;
    width: 608px;
    top: 994px;
    right: 817px;
  }

  .successful-screen__decoration-circle {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 994px;
    right: 912px;
  }

  .successful-screen__decoration-money {
    position: absolute;
    width: 424px;
    top: 980px;
    right: 910px;
  }

  .successful-screen__decoration-balloons {
    position: absolute;
    top: 953px;
    right: 854px;
    width: 240px;
  }

  .successful-screen__decoration-gift {
    position: absolute;
    width: 336px;
    top: 1027px;
    right: 914px;
  }

  .successful-screen__decoration-wheel {
    position: absolute;
    width: 167px;
    top: 1055px;
    right: 1168px;
  }

  .successful-screen__decoration-man {
    position: absolute;
    right: 985px;
    width: 294px;
    top: 946px;
  }
}

@media (max-width: 630px) {
  .successful-screen__decoration-light {
    position: absolute;
    width: 608px;
    top: 994px;
    right: 889px;
  }

  .successful-screen__decoration-circle {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 994px;
    right: 984px;
  }

  .successful-screen__decoration-money {
    position: absolute;
    width: 424px;
    top: 980px;
    right: 982px;
  }

  .successful-screen__decoration-balloons {
    position: absolute;
    top: 953px;
    right: 926px;
    width: 240px;
  }

  .successful-screen__decoration-gift {
    position: absolute;
    width: 336px;
    top: 1027px;
    right: 986px;
  }

  .successful-screen__decoration-wheel {
    position: absolute;
    width: 154px;
    top: 1067px;
    right: 1231px;
  }

  .successful-screen__decoration-man {
    position: absolute;
    right: 1050px;
    width: 294px;
    top: 946px;
  }
}

@media (max-width: 560px) {
  .successful-screen__decoration-light {
    position: absolute;
    width: 608px;
    top: 994px;
    right: 919px;
  }

  .successful-screen__decoration-circle {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 994px;
    right: 1014px;
  }

  .successful-screen__decoration-money {
    position: absolute;
    width: 424px;
    top: 980px;
    right: 1012px;
  }

  .successful-screen__decoration-balloons {
    position: absolute;
    top: 953px;
    right: 956px;
    width: 240px;
  }

  .successful-screen__decoration-gift {
    position: absolute;
    width: 336px;
    top: 1027px;
    right: 1016px;
  }

  .successful-screen__decoration-wheel {
    position: absolute;
    width: 154px;
    top: 1067px;
    right: 1261px;
  }

  .successful-screen__decoration-man {
    position: absolute;
    right: 1080px;
    width: 294px;
    top: 946px;
  }
}

@media (max-width: 530px) {
  .successful-screen__text-info {
    margin-bottom: 600px;
  }
  .successful-screen__decoration-light {
    position: absolute;
    width: 564px;
    top: 948px;
    right: 962px;
  }

  .successful-screen__decoration-circle {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 981px;
    right: 1060px;
  }

  .successful-screen__decoration-money {
    position: absolute;
    width: 384px;
    top: 946px;
    right: 1056px;
  }

  .successful-screen__decoration-balloons {
    position: absolute;
    top: 941px;
    right: 1006px;
    width: 223px;
  }

  .successful-screen__decoration-gift {
    position: absolute;
    width: 306px;
    top: 1001px;
    right: 1063px;
  }

  .successful-screen__decoration-wheel {
    position: absolute;
    width: 130px;
    top: 1046px;
    right: 1284px;
  }

  .successful-screen__decoration-man {
    position: absolute;
    right: 1125px;
    width: 260px;
    top: 940px;
  }
}

@media (max-width: 479px) {
  .successful-screen {
    padding-top: 30px;
    padding-bottom: 34px;
  }
  .successful-screen__title {
    position: relative;
    left: 107px;
    font-size: 25px;
    line-height: 30px;
    height: 54px;
  }
  .successful-screen__text-lock {
    width: 365px;
    left: -44px;
    p {
      left: -13px;
      font-size: 16px;
      line-height: 25px;
    }
  }
  // Иконка с замком
  .successful-screen__text-iconlock {
    position: relative;
    width: 166px;
    height: 165px;
  }

  // текст lock для mob
  p {
    height: 66px;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
  }

  .successful-screen__text-iconlock--light {
    position: absolute;
    width: 166px;
  }

  .successful-screen__text-bonus {
    font-size: 15px;
    margin-top: -35px;
    height: 70px;
  }

  .successful-screen__text-necessary {
    top: 11px;
    p {
      left: 112px;
      font-size: 16px;
      line-height: 23px;
      height: 65px;
      width: 200px;
    }
  }

  .form-btn {
    margin-bottom: 35px;
    margin-top: 35px;
  }
  .form-btn--decore {
    position: absolute;
    bottom: -8px;
    width: 290px;
    height: 90px;
    border-radius: 25px;
  }
  .btn {
    padding: 18px 27px;
    transition: all 0.2s;
    border-radius: 15px;
    border-width: 0px;
    text-transform: uppercase;
    display: inline-flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 290px;
    height: 90px;
    span {
      left: 31px;
      font-size: 20px;
    }
  }
  .btn-pointer {
    position: absolute;
    right: -50px;
    bottom: -45px;
    width: 216px;
  }
  .successful-screen__text-iconlock--balloons {
    position: absolute;
    width: 94px;
    bottom: 72px;
  }

  .successful-screen__text-iconlock--circle {
    position: absolute;
    width: 115px;
  }

  .successful-screen__text-iconlock--lock {
    position: absolute;
    width: 29px;
  }
  .successful-screen__text-necessary img {
    width: 114px;
  }

  .successful-screen__text-info {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 420px;
  }

  .successful-screen__decoration-light {
    position: absolute;
    width: 393px;
    top: 866px;
    right: 1063px;
  }

  .successful-screen__decoration-circle {
    position: absolute;
    width: 230px;
    height: 230px;
    top: 905px;
    right: 1144px;
  }

  .successful-screen__decoration-money {
    position: absolute;
    width: 256px;
    top: 899px;
    right: 1139px
  }

  .successful-screen__decoration-balloons {
    position: absolute;
    top: 886px;
    right: 1108px;
    width: 142px;
  }

  .successful-screen__decoration-gift {
    position: absolute;
    width: 206px;
    top: 901px;
    right: 1142px;
  }

  .successful-screen__decoration-wheel {
    position: absolute;
    width: 89px;
    top: 942px;
    right: 1292px;
  }

  .successful-screen__decoration-man {
    position: absolute;
    right: 1189px;
    width: 165px;
    top: 876px;
  }
}

@media (max-width: 370px) {

  .successful-screen__decoration-circle {
    position: absolute;
    width: 230px;
    height: 230px;
    top: 905px;
    right: 1189px;
  }

  .successful-screen__decoration-money {
    position: absolute;
    width: 256px;
    top: 899px;
    right: 1184px
  }

  .successful-screen__decoration-balloons {
    position: absolute;
    top: 886px;
    right: 1153px;
    width: 142px;
  }

  .successful-screen__decoration-gift {
    position: absolute;
    width: 206px;
    top: 901px;
    right: 1187px;
  }

  .successful-screen__decoration-wheel {
    position: absolute;
    width: 89px;
    top: 942px;
    right: 1337px;
  }

  .successful-screen__decoration-man {
    position: absolute;
    right: 1234px;
    width: 165px;
    top: 876px;
  }
}
